nav {
    flex:1;
    
}
div {
    width: 100%;
}

.Categorias {
    width: 100%;
    border-radius: 20px;
}
.Categorias ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D97941;
    height: 72px;
    width: 80%;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D97941;
    height: 70px;
    width: 100%;
}


li {
    
    float: left;
    display: inline;
    
}

li a {
    display: inline-block;
  color: #420000;
  text-align: center;
  padding: 20px 20px;
  margin-left: 0px;
 margin-right: 0px;
 
  text-decoration: none;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li a:hover {
    background-color: #ffb151;
    
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    
    font-size: 40px;
    
}

.Subtitulo {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}
.Logo {
    width: 280px;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto
}