Menu {
    display: flex;
    flex-basis: 250px;
    
    
}

.Menu nav {
    flex:1;
    
}

.Menu ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A61F2B;
    height: 70px;
    width: 100%;
}
.Letras {
    
  
    
}
.Menu li {
    
    float: left;
    display: inline;
    
    
}


.Menu li a {
    display: inline-block;
  color: #ffb151;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Menu li a:hover {
    background-color: #ffb151;
    color:  #420000;
  
}

.Menu li img {
    padding: 20px 20px;
    width: 140px;
    padding-left: 35px;
}